html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
}
section{height: 100vh;
display:flex; justify-content: center;

}

.home {
    justify-content: center;
    background-color: aqua;

}


.bio{
    justify-content: center;
    background-color: blueviolet;
}

.portfolio {
    justify-content: center;
    background-color: darkred;
}

.contact{
    justify-content: center;
    background-color: lightseagreen;
}
 